body {
    background: #131313 url(/../../img/back.jpg) top;
    color: white;
}

.fa-play::before {
    margin-left: 10px;
}

.fa-music::before {
    margin-left: -6px;
    margin-top: -2px;
}

.hidden-sized {
    visibility: hidden;
}

.signature-block.finishedEnteringScriptTitle.finishedEnteringGrid {
    margin-top: 50px;
}

.signature-block.finishedLoading {
    opacity: 1;
}

.signature-title.finishedEnteringScriptBlock {
    opacity: 1;
}

.signature-block.finishedEnteringScriptTitle {
    margin-top: 250px;
}

.signature-title {
    text-align: center;
    opacity: 0;

    transition: opacity 1s;
    -webkit-transition: opacity 1s;

    transition-timing-function: easeInSine;
    -webkit-transition-timing-function: easeInSine;

    color: #E83623;

    h3 {
        font-family: 'Syncopate', 'sans-serif';
        font-size: 55px;
        margin: 0 0;
    }
}

.signature-block {

    text-align: center;
    margin-top: 350px;
    opacity: 0;

    transition: margin-top 1s, opacity 1s;
    -webkit-transition: margin-top 1s, opacity 1s;

    transition-timing-function: easeInSine;
    -webkit-transition-timing-function: easeInSine;
    
    h1 {
        font-family: 'Megrim', cursive;
        font-size: 145px;
    }

}

.block-grid.finishedAnimatingScriptBlock {
    opacity: 1;
}

.details.finishedAnimatingGrid {
    opacity: 1;
}

.block-grid {

    margin-bottom: 25px;
    min-height: 100px;

    opacity: 0;
    margin-top: 25px;

    transition: opactiy 1s;
    -webkit-transition: opacity 1s;

    transition-timing-function: easeInSine;
    -webkit-transition-timing-function: easeInSine;

    .block-grid-block {
        text-align: center;
        color: teal;
    }

    .block-grid-icon {
        display: inline-block;
    }

    .block-grid-caption {
        font-size: 25px;
        color: white;
    }

    .data-grid-icon {
        @data-grid-size: 85px;

        height: @data-grid-size;
        width: @data-grid-size;
        display: flex;
        justify-content: center;
        align-content: center;
        border: 2px solid white;
        border-radius: 50px;
        line-height: @data-grid-size;
    }

}

.details {
    background-color: rgba(255,255,255,.3);
    min-height: 700px;

    opacity: 0;

    transition: opactiy 1s;
    -webkit-transition: opacity 1s;

    transition-timing-function: easeInSine;
    -webkit-transition-timing-function: easeInSine;
}
