body {
    background: #131313 url(/../../img/back.jpg) top;
    color: white;
}

.fa-play::before {
    margin-left: 10px;
}

.fa-music::before {
    margin-left: -6px;
    margin-top: -2px;
}

.hidden-sized {
    visibility: hidden;
}

.signature-block.finishedLoading {
    margin-top: 100px;
}

.signature-block {

    text-align: center;
    margin-top: 350px;

    transition: margin-top 2s;
    -webkit-transition: margin-top 2s;

    transition-timing-function: easeInSine;
    -webkit-transition-timing-function: easeInSine;
    
    h1 {
        font-family: 'Megrim', cursive;
        font-size: 145px;
    }

}

.navgrid-wrapper {
    opacity: 0;

    transition: opactiy 2s;
    -webkit-transition: opacity 2s;

    transition-timing-function: easeInSine;
    -webkit-transition-timing-function: easeInSine;
}

.navgrid-wrapper.finishedAnimatingScriptBlock {
    opacity: 1;
}

.block-grid {

    margin-top: 50px;
    margin-bottom: 25px;
    min-height: 100px;

    .block-grid-block {
        text-align: center;
        color: teal;
    }

    .block-grid-icon {
        display: inline-block;
    }

    .block-grid-caption {
        font-size: 25px;
        color: white;
    }

    .data-grid-icon {
        @data-grid-size: 85px;

        height: @data-grid-size;
        width: @data-grid-size;
        display: flex;
        justify-content: center;
        align-content: center;
        border: 2px solid white;
        border-radius: 50px;
        line-height: @data-grid-size;
    }

}

.details {
    background-color: rgba(255,255,255,.3);
    min-height: 700px;
}
