@accent-color: #00ADAD;
@accent-bold-color: #e83623;
@darkest-gray-color: #131313;
@body-font: white;

@title-font: 'Megrim', cursive;
@heading-font: 'Syncopate', 'sans-serif';
@reading-font: 'sans-serif';

// Base styles
html {
    font-size: 10px; // Sets base font to 10px
}

body {
    background: @darkest-gray-color url(/../../img/back-brighter.png) top;
    color: @body-font;
}

a {
    color: @accent-color;
}

p {
    line-height: 3rem;
    font-size: 2rem;
    margin: 1.5rem 3rem;
}

// Manual resizing for icons
.fa-play::before {
    margin-left: 10px;
}

.fa-music::before {
    margin-left: -6px;
    margin-top: -2px;
}

// Utility classes
.hidden-sized {
    visibility: hidden;
}

// Animation styles
.signature-block.finishedEnteringScriptTitle.finishedEnteringGrid {
    margin-top: 50px;
}

.signature-block.finishedLoading {
    opacity: 1;
}

.signature-title.finishedEnteringScriptBlock {
    opacity: 1;
}

.signature-block.finishedEnteringScriptTitle {
    margin-top: 250px;
}

.block-grid.finishedAnimatingScriptBlock {
    opacity: 1;
}

.details.finishedAnimatingGrid {
    opacity: 1;
}

// Layout & Styling
.signature-title {
    text-align: center;
    opacity: 0;

    transition: opacity 1s;
    -webkit-transition: opacity 1s;

    transition-timing-function: easeInSine;
    -webkit-transition-timing-function: easeInSine;

    color: @accent-bold-color;

    h3 {
        font-family: @heading-font;
        font-size: 55px;
        margin: 0 0;
        text-shadow: @accent-bold-color -1px 1px 1px;
    }
}

.signature-block {

    text-align: center;
    margin-top: 350px;
    opacity: 0;

    transition: margin-top 1s, opacity 1s;
    -webkit-transition: margin-top 1s, opacity 1s;

    transition-timing-function: easeInSine;
    -webkit-transition-timing-function: easeInSine;
    
    h1 {
        font-family: @title-font;
        font-size: 145px;
        text-shadow: #FFF -1px 1px 1px;
    }

}

.block-grid {

    margin-bottom: 25px;
    min-height: 100px;

    opacity: 0;
    margin-top: 25px;

    transition: opactiy 1s;
    -webkit-transition: opacity 1s;

    transition-timing-function: easeInSine;
    -webkit-transition-timing-function: easeInSine;

    .block-grid-block {
        text-align: center;
        color: @accent-color;
    }

    .block-grid-icon {
        display: inline-block;
        text-shadow: @accent-color 0px 0px 1px;

        transition: transform .15s;
        -webkit-transition: -webkit-transform .15s;
    }

    .block-grid-icon.selected  > i{
        border-color: @accent-bold-color;
    }

    .block-grid-icon:hover {
        transform: scale(.75);
        -webkit-transform: scale(.75);
    }

    .block-grid-caption {
        font-size: 1.5rem;
        color: white;
        font-family: @heading-font;
    }

    .data-grid-icon {
        @data-grid-size: 85px;

        height: @data-grid-size;
        width: @data-grid-size;
        display: flex;
        justify-content: center;
        align-content: center;
        border: 2px solid white;
        border-radius: 50px;
        line-height: @data-grid-size;
    }

}

.details {
    min-height: 700px;

    opacity: 0;

    transition: opactiy 1s;
    -webkit-transition: opacity 1s;

    transition-timing-function: easeInSine;
    -webkit-transition-timing-function: easeInSine;

    border-radius: 16px;
    box-shadow: 7px 5px 7px black;

    background: -webkit-radial-gradient(circle at top right, rgba(64,64,64,.7), rgba(34,34,34,.7)); /* Safari 5.1-6.0 */
    background: -o-radial-gradient(circle at top right, rgba(64,64,64,.7), rgba(34,34,34,.7)); /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient(circle at top right, rgba(64,64,64,.7), rgba(34,34,34,.7)); /* For Firefox 3.6-15 */
    background: radial-gradient(circle at top right, rgba(64,64,64,.7), rgba(34,34,34,.7)); /* Standard syntax */

    h1 {
        font-size: 50px;
        font-family: 'Syncopate', 'sans-serif';
        margin-bottom: 35px;
        color: turquoise;
    }
}
