<div class="block-grid">
    <div class="col-sm-2 block-grid-block" data-ng-repeat="section in sections" data-ng-mouseenter="section.Hovered = true" data-ng-mouseleave="section.Hovered = false" data-ng-click="setSelectedSection(section)">
            <div class="block-grid-icon">
                <i class="fa fa-5x data-grid-icon" data-ng-class="section.SectionIcon"></i>
            </div>
            <div class="block-grid-caption" data-ng-class="{'hidden-sized': !section.Hovered}">
                {{section.SectionName}}
            </div>
    </div>
</div>
<div class="details" data-ng-include="selectedSection.SectionDetails">
</div>
